**/__pycache__
**/__pycache__/
**/.ipynb_checkpoints/
*.egg
*.egg-info  
*.txt.gz
/dataflow/example/ReasoningPipeline/pipeline_math_step*.jsonl
!/dataflow/example/ReasoningPipeline/pipeline_math.json


dataflow/example/KBCleaningPipeline/raw
requirement_added.txt
mineru.json

test/example
reasoning_chains
cache*
ckpt*
flash_attn*
dataflow_cache/
dataflow/operators/eval/GeneralText/gen/cider/coco-val-df.p
test_mineru
test/test_cli
dataflow/operators/core_vision/generate/llava

.vscode

dist
build

.DS_store
CLIP
api_test

ljs
dataflow/example/video_caption/*.mp4
dataflow/example/video_cot_qa/*.mp4
dataflow/example/video_cot_qa/*.png
dataflow/example/video_split/*.mp4
dataflow/example/video_aesthetic/*.mp4
dataflow/example/video_luminance/*.mp4
dataflow/example/video_ocr/*.mp4
dataflow/example/upload.py
dataflow/example/dataflow-demo-video

requirements_zyh.txt
selected_samples_output

test/test_video_longvt.py
test/test_video_longrl.py
test/test_video_longrl_reformat_reasoning.py
test/test_video_longrl_reasoning.py

models

dataflow/example/test_data/*
run_dataflow